.btn {
  &.dark {
    background-color: #fff;
    color: #4eaaff;

    &:hover {
      background-color: #4eaaff;
      color: #fff;
    }

    &:disabled {
      background-color: #617398;
      color: #ffffff66;
    }
  }

  &:disabled {
    background-color: #d2d2d2;
    cursor: not-allowed;
  }

  &.google-pay {
    color: #000;
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}

.select-btn {
  & .chevron {
    transition: rotate 0.3s;

    &.opened {
      rotate: 180deg;
    }
  }
}

.select-list {
  &.dark &__option {
    background-color: #617398;
    border-color: #ffffff4d;
    color: #fff;

    &:hover {
      background-color: #6c89ff;
    }

    &--selected {
      background-color: #6c89ff;
    }
  }

  &__option {
    transition: all 0.3s ease;

    &:hover {
      color: #fff;
      background-color: #00ca14;
    }

    &--selected {
      color: #fff;
      background-color: #00ca14;
    }
  }
}
